#root {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.global-header {
  display: flex;
  background-color: #FFF7ED;
  padding-inline: 26px;
}

.global-header > h1 {
  font-weight: 900;
}

nav {
  display: flex;
  align-items: center;
  max-height: 112px;
  gap: 24px;
}

nav > a {
  color: #4D4D4D
}

nav > a:hover {
  color: #161616
}

.global-nav-bar {
  display: flex;
  flex-grow: 1; 
  justify-content: end;
  font-weight: 600;
  font-size: 1.25em;
}

.back-button {
  color: #858585;
}
.back-button > span {
  color: #201F1D;
  text-decoration: underline;
}

main {
  padding-block: 32px;
  color: #161616;
  background-color: #FFF7ED;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  gap: 24px;

}

main > h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2em;
}

main > p {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.7;
  margin: 0;

}

.footer {
  height: 72px;
  background-color: #252525;
  color: #AAAAAA;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  align-items: center;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.return-home-button {
  background-color: #161616;
  color: #FFFFFF;
  font-weight: 700;
  padding: 12px 24px 12px 24px;
  border-radius: 10px;
  align-items: center;
  max-width: 440px;
  text-align: center;
}

.return-home-button:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.login-main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.login-form-error {
  color: #bc0909;
  font-weight: 700;
  font-size: 1.5em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    width: 400px;
    text-indent: 10px;
    padding-inline: 16px;
}

.login-form > input:first-of-type {
  margin-top: 12px;;
  border-radius: 5px 5px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 12px;;
}

.login-main button {
    background-color: #ff8c38;
    border: none;
    border-radius: 5px;
    height: 48px;
    color: white;
    cursor: pointer;
}

.login-main button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

.home-main {
  padding-block: 64px;
  color: #FFFFFF;
  background-image: url("./assets/home_background.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.home-title {
  font-weight: 800;
  font-size: 2.1em;
}

.home-btn {
  margin-top: 16px;
  background-color: #FF8C38;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1em;
  max-width: 440px;
}

.about-explore-container {
  border-radius: 6px;
  background-color: #FFCC8D;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-explore-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
}

.about-explore-btn {
  height: 48px;
  max-width: 176px;
  background-color: #161616;
  color: #FFFFFF;
  font-weight: 700;
  padding: 12px 16px 12px 16px;
  border-radius: 10px;
}

.vans-main {
  padding-inline: 30px;
}

.vans-main span {
  height: 34px;
  text-align: center;
  align-content: center;
  border-radius: 5px;
  font-size: 1em;
}

.vans-filters-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.vans-filter-options-container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.vans-filter-option {
  background-color: #FFEAD0;
  color: #4D4D4D;
  font-weight: 500;
  padding: 4px 16px;
  border-radius: 5px;
}

.vans-filter-option:hover {
  text-decoration: underline;
  color: #4D4D4D;
}

.vans-filter-option-selected {
  text-decoration: underline;
  color: #4D4D4D;
}

.vans-filter-clear-btn {
  flex-shrink: 0;
  background-color: transparent;
  color: #4D4D4D;
}

.vans-items-container {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
}

.van-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 239px;
}

.van-item img {
  height: 239px;
  border-radius: 5px;
}

.van-item-info {
  display: flex;
}

.van-item-info > div {
  display: flex;
  flex-direction: column;
  color: #161616;
} 

.van-item-info > div > h3 {
  font-weight: 600;
  font-size: 1.25em;
  margin: 0;
}

.van-item-info-leading {
  flex-shrink: 0;
  gap: 4px;
  align-items: flex-start;
}

.van-item-info-leading span {
  font-weight: 600;
  color: #FFF7ED;
  padding-inline: 12px;
}

.van-item-info-trailing {
  flex: 1;
  text-align: right;
}

.van-item-info-trailing > p {
  margin: 0;
  font-weight: 500;
  font-size: 0.875em;
}

.van-detail {
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  /* padding: 16px; */
}

.van-detail img {
  height: 497.32px;
  width: 490.35px;
  border-radius: 5px;
}

.van-detail span {
  font-weight: 600;
  color: #FFF7ED;
  padding: 6px 12px;
  border-radius: 5px;
}


.van-detail-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.van-detail-info > h3 {  
  font-weight: 700;
  font-size: 2em;
  margin: 0;
}

.van-detail-price {
  display: flex;
  align-items: center;
}

.van-detail-price > h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.van-detail-price > p {
  font-weight: 500;
  font-size: 1.25em;
  margin: 0;
}

.van-detail-description {
  font-weight: 500;
  font-size: 1em;
  margin: 0;
}

.host-nav > a {
  font-size: 1.125em;
}

.host-van-item-container {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  background-color: #FFFFFF;
  color: #161616;
  padding: 12px;

}

.host-van-item-container img {
  height: 65px;
  width: 65px;
  border-radius: 5px;
}

.host-van-item-info {
  display: flex;
  flex-direction: column;
}

.host-van-item-info > h3 {
  font-weight: 600;
  font-size: 1.25em;
  margin: 0;
}

.host-van-item-info p {
  margin: 0;
}

.host-van-detail {
  display: flex;
  flex-direction: column;  
  background-color: #FFFFFF;
  padding: 16px;
}

.host-van-detail-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.host-van-detail-header > img {
  width: 160px;
  border-radius: 5px;
}

.host-van-detail-header-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}
  
.host-van-detail-header-info > span {
  font-weight: 600;
  color: #FFF7ED;
  padding-inline: 12px;
  border-radius: 5px;
}

.host-van-detail-header-info > div {
  display: flex;
  align-items: center;
 }

.host-van-detail-header-info h3 {
  margin: 0;
}

.host-van-detail-header-info p {
  margin: 0;
}

.host-van-detail-nav > a {
  font-size: 1em;
}

.host-van-detail-info {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  gap: 16px;
  margin-top: 20px;
}

.host-van-detail-info > p {
  margin: 0px;
}

.host-van-detail-info span {
  font-weight: 700;
}

.host-van-detail-pricing span {
  font-size: 1.5em;
}

.host-van-detail-photos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding-top: 16px;
}

.host-van-detail-photos img {
  border-radius: 5px;
  max-height: 100px;
  width: auto;
  height: auto;
}